* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {

    clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
    background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);

    .dropdown {
        button {
            border: none;
            background-color: var();
        }
    }

    .HeroImage {

        transform: scale(0.4);
    }

    .heroButtons {
        a {
            span {
                color: orange;
            }
        }
    }

    .proudly {
        p {
            font-size: 13px;
            font-weight: 500;
        }

        img {
            width: 120px;
            height: 30px;
        }
    }


}

main {

    .btn {
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    a {
        font-weight: 500;
        font-size: 14px;
    }

    p {
        font-size: 13px;
        font-weight: 600;
    }

    .outline_intro {
        .btn {
            box-shadow: none;
        }
    }

    .inputs_intro {

        .zoom {
            right: 3%;
            top: 30%;
        }

        .success {
            border: 1px solid #2dce89;
        }

        .success::placeholder {
            color: #2dce89
        }

        .error::placeholder {
            color: #fb6340;
        }

        .error {
            border: 1px solid #fb6340;
        }
        i{
            color: rgba(128, 128, 128, 0.853);
        }
    }

    .alternative_intro {
        background-color:  #f4f5f7;

        input {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 12px;

        }

        .zoom {
            right: 3%;
            top: 30%;
        }

        .success::placeholder {
            color: #2dce89
        }

        .error::placeholder {
            color: #fb6340;
        }
        i{
            color: rgba(128, 128, 128, 0.853);
        }
    }
    .menu_intro{
        .navs{
            width: 315px;
        }
    }


}