@import url(/Users/babayev_/Desktop/FrontendPro/assets/css/colors.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}

header .dropdown button {
  border: none;
  background-color: var();
}

header .dropdown i {
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
}

header .dropdown .purple {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

header .dropdown .green {
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

header .dropdown .orange {
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

header .HeroImage {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

header .heroButtons a span {
  color: #fb6340;
}

header .proudly p {
  font-size: 13px;
  font-weight: 500;
}

header .proudly img {
  width: 120px;
  height: 30px;
}

main {
  color: #525f7f !important;
}

main .btn {
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main a {
  font-weight: 500;
  font-size: 14px;
}

main p {
  font-size: 13px;
  font-weight: 600;
}

main .outline_intro .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .inputs_intro .zoom {
  right: 3%;
  top: 30%;
}

main .inputs_intro .success {
  border: 1px solid #2dce89;
}

main .inputs_intro .success::-webkit-input-placeholder {
  color: #2dce89;
}

main .inputs_intro .success:-ms-input-placeholder {
  color: #2dce89;
}

main .inputs_intro .success::-ms-input-placeholder {
  color: #2dce89;
}

main .inputs_intro .success::placeholder {
  color: #2dce89;
}

main .inputs_intro .error::-webkit-input-placeholder {
  color: #fb6340;
}

main .inputs_intro .error:-ms-input-placeholder {
  color: #fb6340;
}

main .inputs_intro .error::-ms-input-placeholder {
  color: #fb6340;
}

main .inputs_intro .error::placeholder {
  color: #fb6340;
}

main .inputs_intro .error {
  border: 1px solid #fb6340;
}

main .inputs_intro i {
  color: rgba(128, 128, 128, 0.853);
}

main .alternative_intro {
  background-color: #f4f5f7;
}

main .alternative_intro input {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 12px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 12px;
}

main .alternative_intro .zoom {
  right: 3%;
  top: 30%;
}

main .alternative_intro .success::-webkit-input-placeholder {
  color: #2dce89;
}

main .alternative_intro .success:-ms-input-placeholder {
  color: #2dce89;
}

main .alternative_intro .success::-ms-input-placeholder {
  color: #2dce89;
}

main .alternative_intro .success::placeholder {
  color: #2dce89;
}

main .alternative_intro .error::-webkit-input-placeholder {
  color: #fb6340;
}

main .alternative_intro .error:-ms-input-placeholder {
  color: #fb6340;
}

main .alternative_intro .error::-ms-input-placeholder {
  color: #fb6340;
}

main .alternative_intro .error::placeholder {
  color: #fb6340;
}

main .alternative_intro i {
  color: rgba(128, 128, 128, 0.853);
}

main .menu_intro .navs {
  width: 315px;
}

main .tabs .nav-pills .nav-link.active,
main .tabs .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #5e72e4;
}

main .tabs li.nav-item {
  width: 33%;
}

main .tabs button {
  width: 95%;
  margin: 0 10px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

main .tabs .card {
  background: none;
  border: none;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

main .tabs .card-header {
  border: none;
}

main .progress_bar span {
  background-color: rgba(94, 114, 228, 0.1);
  color: #5e72e4;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 14px;
}

main .progress_bar .progress {
  height: 10px;
}

main .pagination a {
  margin: 0 3px;
  border-radius: 50%;
  width: 40px;
  text-align: center;
}

main .pagination a .number:hover {
  background-color: red;
}

main .pill .atom {
  background-color: #5e72e4;
  padding: 20px;
  margin-right: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
}

main .pill .atom i {
  color: white;
}

main .pill .message {
  padding: 20px;
  margin-right: 10px;
  border-radius: 50%;
  width: 55px;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

main .pill .message i {
  color: #9888aa;
}

main .texts .title {
  font-weight: 400;
}

main .texts h1,
main .texts h2,
main .texts h3,
main .texts h4,
main .texts h5,
main .texts h6 {
  font-weight: 400;
}

main .texts .col-3,
main .texts .col-9 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

main .texts .col-9 p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

main .date input {
  width: 300px;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

main .Tooltips_Popovers .tooltips button {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

main .carousel {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
}

main .carousel .col-md-6 {
  padding: 150px 0;
}

main .carousel .texts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 400px;
}

main .carousel #carouselExampleIndicators {
  -webkit-transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
          transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
}

main .carousel #carouselExampleIndicators .carousel-inner {
  border-radius: 5px;
}

main .register_login .card {
  -webkit-transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
          transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
  border-radius: 4px;
}

main .register_login .card-header {
  border: none;
}

main .register_login button {
  border: none;
}

main .register_login input {
  border: none;
  font-size: 12px;
}

main .register_login i {
  margin-top: -25px;
  right: 13%;
}

main .techs button {
  border: none;
}

main .techs img {
  width: 100px;
  height: 100px;
}

footer .tooltips {
  text-align: end;
  display: table-cell;
}
/*# sourceMappingURL=style.css.map */